{% if site.environment == 'live' %}
  {% include header-menu-categories.html %}
{% else %}
<td class="main-category plastic-surgery dropdown">
<a itemprop="url" href="/%D7%A0%D7%99%D7%AA%D7%95%D7%97%D7%99%D7%9D-%D7%A4%D7%9C%D7%A1%D7%98%D7%99%D7%99%D7%9D" class="dropdown-link"><span class="underline" itemprop="name">ניתוחים פלסטיים</span></a>

<div class="show-menu">
  <ul class="menu-container hidden-xs hidden-sm">
    <li class="sub-category">
      <div class="box">
        <h3>ניתוחי חזה</h3>

        <ul class="end-category">
          <li><a itemprop="url" href="/%D7%94%D7%92%D7%93%D7%9C%D7%AA-%D7%97%D7%96%D7%94"><span itemprop="name">הגדלת חזה</span></a></li>

          <li><a itemprop="url" href="/%D7%94%D7%A8%D7%9E%D7%AA-%D7%97%D7%96%D7%94"><span itemprop="name">הרמת חזה</span></a></li>

          <li><a itemprop="url" href="/%D7%94%D7%A7%D7%98%D7%A0%D7%AA-%D7%97%D7%96%D7%94"><span itemprop="name">הקטנת חזה</span></a></li>

          <li><a itemprop="url" href="/%D7%92%D7%A0%D7%99%D7%A7%D7%95%D7%9E%D7%A1%D7%98%D7%99%D7%94"><span itemprop="name">גניקומסטיה</span></a></li>

          <li><a itemprop="url" href="/%D7%A9%D7%AA%D7%9C%D7%99-%D7%A1%D7%99%D7%9C%D7%99%D7%A7%D7%95%D7%9F"><span itemprop="name">שתלי סיליקון</span></a></li>

          <li><a itemprop="url" href="/%D7%A4%D7%98%D7%9E%D7%95%D7%AA-%D7%A9%D7%A7%D7%95%D7%A2%D7%95%D7%AA"><span itemprop="name">פטמות שקועות</span></a></li>

          <li><a itemprop="url" href="/%D7%97%D7%96%D7%94-%D7%9C%D7%90-%D7%A1%D7%99%D7%9E%D7%98%D7%A8%D7%99"><span itemprop="name">חזה לא סימטרי</span></a></li>

          <li><a itemprop="url" href="/%D7%97%D7%96%D7%94-%D7%A0%D7%A4%D7%95%D7%9C"><span itemprop="name">חזה נפול</span></a></li>

          <li><a itemprop="url" href="/%D7%A1%D7%99%D7%9C%D7%99%D7%A7%D7%95%D7%9F-%D7%91%D7%97%D7%96%D7%94"><span itemprop="name">סיליקון בחזה</span></a></li>

          <li><a itemprop="url" href="/%D7%94%D7%92%D7%93%D7%9C%D7%AA-%D7%97%D7%96%D7%94-%D7%9E%D7%97%D7%99%D7%A8%D7%99%D7%9D"><span itemprop="name">הגדלת חזה מחירים</span></a></li>
        </ul>
      </div>
    </li>

    <li class="sub-category">
      <div class="box">
        <h3>ניתוחי פנים</h3>

        <ul class="end-category">
          <li><a itemprop="url" href="/%D7%A0%D7%99%D7%AA%D7%95%D7%97-%D7%90%D7%A3"><span itemprop="name">ניתוח אף</span></a></li>

          <li><a itemprop="url" href="/%D7%9E%D7%AA%D7%99%D7%97%D7%AA-%D7%A4%D7%A0%D7%99%D7%9D"><span itemprop="name">מתיחת פנים</span></a></li>

          <li><a itemprop="url" href="/%D7%A0%D7%99%D7%AA%D7%95%D7%97-%D7%A2%D7%A4%D7%A2%D7%A4%D7%99%D7%99%D7%9D"><span itemprop="name">ניתוח עפעפיים</span></a></li>

          <li><a itemprop="url" href="/%D7%94%D7%A6%D7%9E%D7%93%D7%AA-%D7%90%D7%95%D7%96%D7%A0%D7%99%D7%99%D7%9D"><span itemprop="name">הצמדת אוזניים</span></a></li>

          <li><a itemprop="url" href="/%D7%A1%D7%A0%D7%98%D7%A8-%D7%9B%D7%A4%D7%95%D7%9C"><span itemprop="name">סנטר כפול</span></a></li>

          <li><a itemprop="url" href="/%D7%9E%D7%AA%D7%99%D7%97%D7%AA-%D7%A6%D7%95%D7%95%D7%90%D7%A8"><span itemprop="name">מתיחת צוואר</span></a></li>

          <li><a itemprop="url" href="/%D7%A0%D7%99%D7%AA%D7%95%D7%97-%D7%A1%D7%A0%D7%98%D7%A8"><span itemprop="name">ניתוח סנטר</span></a></li>

          <li><a itemprop="url" href="/%D7%94%D7%A8%D7%9E%D7%AA-%D7%92%D7%91%D7%95%D7%AA"><span itemprop="name">הרמת גבות</span></a></li>

          <li><a itemprop="url" href="/%D7%A9%D7%A7%D7%99%D7%95%D7%AA-%D7%9E%D7%AA%D7%97%D7%AA-%D7%9C%D7%A2%D7%99%D7%A0%D7%99%D7%99%D7%9D"><span itemprop="name">שקיות מתחת לעיניים</span></a></li>

          <li><a itemprop="url" href="/%D7%A0%D7%99%D7%AA%D7%95%D7%97-%D7%90%D7%A3-%D7%9E%D7%97%D7%99%D7%A8"><span itemprop="name">ניתוח אף מחיר</span></a></li>
        </ul>
      </div>
    </li>

    <li class="sub-category">
      <div class="box">
        <h3>ניתוחי גוף</h3>

        <ul class="end-category">
          <li><a itemprop="url" href="/%D7%A9%D7%90%D7%99%D7%91%D7%AA-%D7%A9%D7%95%D7%9E%D7%9F"><span itemprop="name">שאיבת שומן</span></a></li>

          <li><a itemprop="url" href="/%D7%9E%D7%AA%D7%99%D7%97%D7%AA-%D7%91%D7%98%D7%9F"><span itemprop="name">מתיחת בטן</span></a></li>

          <li><a itemprop="url" href="/%D7%A2%D7%99%D7%A6%D7%95%D7%91-%D7%99%D7%A9%D7%91%D7%9F"><span itemprop="name">עיצוב ישבן</span></a></li>

          <li><a itemprop="url" href="/%D7%9E%D7%AA%D7%99%D7%97%D7%AA-%D7%96%D7%A8%D7%95%D7%A2%D7%95%D7%AA"><span itemprop="name">מתיחת זרועות</span></a></li>

          <li><a itemprop="url" href="/%D7%A2%D7%95%D7%93%D7%A4%D7%99-%D7%A2%D7%95%D7%A8"><span itemprop="name">עודפי עור והרמת גוף</span></a></li>

          <li><a itemprop="url" href="/%D7%A0%D7%99%D7%AA%D7%95%D7%97-%D7%94%D7%96%D7%A2%D7%AA-%D7%99%D7%AA%D7%A8"><span itemprop="name">ניתוח הזעת יתר</span></a></li>

          <li><a itemprop="url" href="/%D7%A9%D7%90%D7%99%D7%91%D7%AA-%D7%A9%D7%95%D7%9E%D7%9F-%D7%9E%D7%97%D7%99%D7%A8"><span itemprop="name">שאיבת שומן מחיר</span></a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
</td>

<td class="main-category aesthetic-treatment dropdown">
<a itemprop="url" href="/%D7%A8%D7%A4%D7%95%D7%90%D7%94-%D7%90%D7%A1%D7%AA%D7%98%D7%99%D7%AA" class="dropdown-link"><span class="underline" itemprop="name">טיפולים אסתטיים</span></a>

<div class="show-menu">
  <ul class="menu-container hidden-xs hidden-sm">
    <li class="sub-category">
      <div class="box">
        <h3>בוטוקס והזרקות</h3>

        <ul class="end-category">
          <li><a itemprop="url" href="/%D7%91%D7%95%D7%98%D7%95%D7%A7%D7%A1"><span itemprop="name">בוטוקס</span></a></li>

          <li><a itemprop="url" href="/%D7%9E%D7%99%D7%9C%D7%95%D7%99-%D7%A7%D7%9E%D7%98%D7%99%D7%9D"><span itemprop="name">מילוי קמטים</span></a></li>

          <li><a itemprop="url" href="/%D7%A2%D7%99%D7%91%D7%95%D7%99-%D7%A9%D7%A4%D7%AA%D7%99%D7%99%D7%9D"><span itemprop="name">עיבוי שפתיים</span></a></li>

          <li><a itemprop="url" href="/%D7%97%D7%95%D7%9E%D7%A6%D7%94-%D7%94%D7%99%D7%90%D7%9C%D7%95%D7%A8%D7%95%D7%A0%D7%99%D7%AA"><span itemprop="name">חומצה היאלורונית</span></a></li>

          <li><a itemprop="url" href="/%D7%9E%D7%96%D7%95%D7%AA%D7%A8%D7%A4%D7%99%D7%94"><span itemprop="name">מזותרפיה</span></a></li>

          <li><a itemprop="url" href="/%D7%A2%D7%99%D7%A6%D7%95%D7%91-%D7%A2%D7%A6%D7%9E%D7%95%D7%AA-%D7%9C%D7%97%D7%99%D7%99%D7%9D"><span itemprop="name">עיצוב עצמות לחיים</span></a></li>

          <li><a itemprop="url" href="/%D7%A8%D7%A1%D7%98%D7%99%D7%9C%D7%9F"><span itemprop="name">רסטילן</span></a></li>

          <li><a itemprop="url" href="/%D7%94%D7%96%D7%A8%D7%A7%D7%AA-%D7%A1%D7%99%D7%9C%D7%99%D7%A7%D7%95%D7%9F"><span itemprop="name">הזרקת סיליקון</span></a></li>

          <li><a itemprop="url" href="/%D7%94%D7%96%D7%A8%D7%A7%D7%AA-%D7%A9%D7%95%D7%9E%D7%9F-%D7%9C%D7%A4%D7%A0%D7%99%D7%9D"><span itemprop="name">הזרקת שומן לפנים</span></a></li>
        </ul>
      </div>
    </li>

    <li class="sub-category">
      <div class="box">
        <h3>אסתטיקה של הפנים</h3>

        <ul class="end-category">
          <li><a itemprop="url" href="/%D7%A4%D7%99%D7%9C%D7%99%D7%A0%D7%92"><span itemprop="name">פילינג</span></a></li>

          <li><a itemprop="url" href="/%D7%90%D7%A7%D7%A0%D7%94"><span itemprop="name">אקנה</span></a></li>

          <li><a itemprop="url" href="/%D7%A4%D7%99%D7%92%D7%9E%D7%A0%D7%98%D7%A6%D7%99%D7%94"><span itemprop="name">פיגמנטציה</span></a></li>

          <li><a itemprop="url" href="/%D7%9E%D7%AA%D7%99%D7%97%D7%AA-%D7%A4%D7%A0%D7%99%D7%9D-%D7%9C%D7%9C%D7%90-%D7%A0%D7%99%D7%AA%D7%95%D7%97"><span itemprop="name">מתיחת פנים ללא ניתוח</span></a></li>

          <li><a itemprop="url" href="/%D7%98%D7%99%D7%A4%D7%95%D7%9C-%D7%91%D7%A6%D7%9C%D7%A7%D7%95%D7%AA-%D7%90%D7%A7%D7%A0%D7%94"><span itemprop="name">טיפול בצלקות אקנה</span></a></li>

          <li><a itemprop="url" href="/%D7%9E%D7%99%D7%9C%D7%95%D7%99-%D7%9C%D7%97%D7%99%D7%99%D7%9D"><span itemprop="name">מילוי לחיים</span></a></li>

          <li><a itemprop="url" href="/%D7%A4%D7%99%D7%A1%D7%95%D7%9C-%D7%90%D7%A3"><span itemprop="name">פיסול אף</span></a></li>
        </ul>
      </div>
    </li>

    <li class="sub-category">
      <div class="box">
        <h3>טיפולים אסתטיים כלליים</h3>

        <ul class="end-category">
          <li><a itemprop="url" href="/%D7%94%D7%A2%D7%9C%D7%9E%D7%AA-%D7%95%D7%A8%D7%99%D7%93%D7%99%D7%9D"><span itemprop="name">העלמת ורידים ונימים</span></a></li>

          <li><a itemprop="url" href="/%D7%94%D7%96%D7%A2%D7%AA-%D7%99%D7%AA%D7%A8"><span itemprop="name">הזעת יתר</span></a></li>

          <li><a itemprop="url" href="/%D7%94%D7%A1%D7%A8%D7%AA-%D7%A7%D7%A2%D7%A7%D7%95%D7%A2%D7%99%D7%9D"><span itemprop="name">הסרת קעקועים</span></a></li>

          <li><a itemprop="url" href="/%D7%A1%D7%99%D7%9E%D7%A0%D7%99-%D7%9E%D7%AA%D7%99%D7%97%D7%94"><span itemprop="name">סימני מתיחה</span></a></li>

          <li><a itemprop="url" href="/%D7%94%D7%A1%D7%A8%D7%AA-%D7%A9%D7%95%D7%9E%D7%95%D7%AA"><span itemprop="name">הסרת שומות</span></a></li>

          <li><a itemprop="url" href="/%D7%94%D7%A1%D7%A8%D7%AA-%D7%A0%D7%A7%D7%95%D7%93%D7%95%D7%AA-%D7%97%D7%9F"><span itemprop="name">הסרת נקודות חן</span></a></li>

          <li><a itemprop="url" href="/%D7%A4%D7%98%D7%A8%D7%AA-%D7%A6%D7%99%D7%A4%D7%95%D7%A8%D7%A0%D7%99%D7%99%D7%9D"><span itemprop="name">פטרת ציפורניים</span></a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
</td>

<td class="main-category body-toning dropdown">
<a itemprop="url" href="/%D7%94%D7%9C%D7%99%D7%9B%D7%99-%D7%92%D7%95%D7%A3-%D7%95%D7%92%D7%A4%D7%99%D7%99%D7%9D" class="dropdown-link"><span class="underline" itemprop="name">חיטוב הגוף</span></a>

<div class="show-menu">
  <ul class="menu-container hidden-xs hidden-sm">
    <li class="sub-category">
      <div class="box">
        <h3>עיצוב הקפי הגוף</h3>

        <ul class="end-category">
          <li><a itemprop="url" href="/%D7%94%D7%9E%D7%A1%D7%AA-%D7%A9%D7%95%D7%9E%D7%9F"><span itemprop="name">המסת שומן</span></a></li>

          <li><a itemprop="url" href="/%D7%94%D7%9E%D7%A1%D7%AA-%D7%A9%D7%95%D7%9E%D7%9F-%D7%91%D7%9C%D7%99%D7%99%D7%96%D7%A8"><span itemprop="name">המסת שומן בלייזר</span></a></li>

          <li><a itemprop="url" href="/%D7%A6%D7%9C%D7%95%D7%9C%D7%99%D7%98%D7%99%D7%A1"><span itemprop="name">צלוליטיס</span></a></li>

          <li><a itemprop="url" href="/%D7%94%D7%A6%D7%A8%D7%AA-%D7%94%D7%99%D7%A7%D7%A4%D7%99%D7%9D"><span itemprop="name">הצרת היקפים</span></a></li>

          <li><a itemprop="url" href="/%D7%9C%D7%99%D7%A4%D7%95%D7%9C%D7%99%D7%96%D7%99%D7%A1"><span itemprop="name">ליפוליזיס (זריקות ממיסות)</span></a></li>

          <li><a itemprop="url" href="/%D7%91%D7%95%D7%93%D7%99-%D7%98%D7%99%D7%99%D7%98"><span itemprop="name">המסת שומן בודי טייט</span></a></li>

          <li><a itemprop="url" href="/%D7%94%D7%9E%D7%A1%D7%AA-%D7%A9%D7%95%D7%9E%D7%9F-%D7%91%D7%9C%D7%99%D7%99%D7%96%D7%A8-%D7%9E%D7%97%D7%99%D7%A8%D7%99%D7%9D"><span itemprop="name">המסת שומן בלייזר מחירים</span></a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
</td>
{% endif %}
<td class="main-category dental-treatment dropdown">
  <a href="http://dental.medicart.co.il" itemprop="url"><span class="underline" itemprop="name">טיפולי שיניים</span></a>
</td>
<td class="main-category hair-treatment dropdown">
  <a href="http://hair.medicart.co.il" itemprop="url"><span class="underline" itemprop="name">הסרת שיער</span></a>
</td>
<td class="main-category laser-treatment dropdown">
  <a href="http://enaim.medicart.co.il" itemprop="url"><span class="underline" itemprop="name">הסרת משקפיים בלייזר</span></a>
</td>
