<div class="col-menu">
  <h4><a itemprop="url" itemprop="url" href="/אודותינו"><span itemprop="name">אודותינו</span></a></h4>
</div>
<div class="col-menu line">
  <h4><a itemprop="url" href="/ניתוח-שאיבת-שומן"><span itemprop="name">שאיבת שומן</span></a></h4>
</div>
<div class="col-menu line">
  <h4><a itemprop="url" href="/המסת-שומן"><span itemprop="name">המסת שומן</span></a></h4>
</div>
<div class="col-menu line">
  <h4><a itemprop="url" href="/הצרת-היקפים"><span itemprop="name">הצרת היקפים</span></a></h4>
</div>
<div class="col-menu line">
  <h4><a itemprop="url" href="/צלוליטיס"><span itemprop="name">צלוליטיס</span></a></h4>
</div>
<div class="col-menu line">
  <h4><a itemprop="url" href="/מתיחת-בטן"><span itemprop="name">מתיחת בטן</span></a></h4>
</div>

