{% if site.features.search %}
<li class="main-category">
	<div class="search-wrapper">
    {% include search.html %}
	</div>
</li>
{% else %}
{% endif %}
<li class="main-category">
    <a itemprop="url" href="/ניתוח-שאיבת-שומן"><span itemprop="name">שאיבת שומן</span></a>
</li>
<li class="main-category">
    <a itemprop="url" href="/המסת-שומן"><span itemprop="name">המסת שומן</span></a>
</li>
<li class="main-category">
    <a itemprop="url" href="/הצרת-היקפים"><span itemprop="name">הצרת היקפים</span></a>
</li>
<li class="main-category">
    <a itemprop="url" href="/צלוליטיס"><span itemprop="name">צלוליטיס</span></a>
</li>
<li class="main-category">
    <a itemprop="url" href="/מתיחת-בטן"><span itemprop="name">עיצוב הבטן</span></a>
</li>
<li class="main-category">
    <a itemprop="url" href="/כל-המאמרים/"><span itemprop="name">מאמרים באתר</span></a>
</li>

