<tr>
    <td class="main-category hair-treatment dropdown">
        <a itemprop="url" href="/ניתוח-שאיבת-שומן" class="dropdown-link"><span class="underline" itemprop="name">שאיבת שומן</span></a>
        <div class="show-menu">
            <ul class="menu-container hidden-xs hidden-sm">
                <li class="sub-category">
                    <div class="box">
                        <ul class="end-category">
                            <li><a itemprop="url" href="/הסרת-שומן"><span itemprop="name">הסרת שומן בהקפאה</span></a></li>
                            <li><a itemprop="url" href="/שאיבת-שומן-באולטרסאונד"><span itemprop="name">שאיבה באולטרסאונד</span></a></li>
                            <li><a itemprop="url" href="/שאיבת-שומן-ליפקטומי"><span itemprop="name">ליפקטומי</span></a></li>
                            <li><a itemprop="url" href="/שאיבת-שומן-גדולה"><span itemprop="name">שאיבת שומן גדולה</span></a></li>
                            <li><a itemprop="url" href="/שאיבת-שומן-בגלי-רדיו"><span itemprop="name">שאיבה בגלי רדיו</span></a></li>
                            <li><a itemprop="url" href="/שאיבת-שומן-סופר-רטוב"><span itemprop="name">שיטת Super Wet</span></a></li>
                            <li><a itemprop="url" href="/pal"><span itemprop="name">טכניקת Pal</span></a></li>
                            <li><a itemprop="url" href="/שאיבת-שומן-ללא-ניתוח"><span itemprop="name">שאיבה ללא ניתוח</span></a></li>
                            <li><a itemprop="url" href="/שאיבת-שומן-מחיר"><span itemprop="name">שאיבת שומן מחיר</span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </td>
    <td class="main-category hair-treatment dropdown">
        <a itemprop="url" href="/המסת-שומן" class="dropdown-link"><span class="underline" itemprop="name">המסת שומן</span></a>
        <div class="show-menu">
            <ul class="menu-container hidden-xs hidden-sm">
                <li class="sub-category">
                    <div class="box">
                        <ul class="end-category">
                            <li><a itemprop="url" href="/בודי-טייט"><span itemprop="name">בודי טייט</span></a></li>
                            <li><a itemprop="url" href="/המסת-שומן-בלייזר"><span itemprop="name">המסת שומן בלייזר</span></a></li>
                            <li><a itemprop="url" href="/המסת-שומן-ללא-ניתוח"><span itemprop="name">המסה ללא ניתוח</span></a></li>
                            <li><a itemprop="url" href="/ליפותרפיה"><span itemprop="name">ליפותרפיה</span></a></li>
                            <li><a itemprop="url" href="/ליפוליזיס"><span itemprop="name">ליפוליזיס</span></a></li>
                            <li><a itemprop="url" href="/המסת-שומן-בזריקה"><span itemprop="name">זריקות להמסת שומן</span></a></li>
                            <li><a itemprop="url" href="/המסת-שומנים-vaser"><span itemprop="name">שיטת Vaser</span></a></li>
                            <li><a itemprop="url" href="/המסת-שומן-באולטרסאונד"><span itemprop="name">המסה באולטרסאונד</span></a></li>
                            <li><a itemprop="url" href="/המסת-שומן-בגלי-רדיו"><span itemprop="name">המסת שומן בגלי רדיו</span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </td>
    <td class="main-category hair-treatment dropdown">
        <a itemprop="url" href="/הצרת-היקפים" class="dropdown-link"><span class="underline" itemprop="name">הצרת היקפים</span></a>
        <div class="show-menu">
            <ul class="menu-container hidden-xs hidden-sm">
                <li class="sub-category">
                    <div class="box">
                        <ul class="end-category">
                            <li><a itemprop="url" href="/בלה-קונטור"><span itemprop="name">בלה קונטור</span></a></li>
                            <li><a itemprop="url" href="/lpg"><span itemprop="name">שיטת Lpg</span></a></li>
                            <li><a itemprop="url" href="/הצרת-היקפים-אולטרסאונד"><span itemprop="name">אולטרסאונד להצרת היקפים</span></a></li>
                            <li><a itemprop="url" href="/הצרת-היקפים-בלייזר"><span itemprop="name">הצרת היקפים בלייזר</span></a></li>
                            <li><a itemprop="url" href="/הצרת-היקפים-בגלי-רדיו"><span itemprop="name">טיפול להיקפים בגלי רדיו</span></a></li>
                            <li><a itemprop="url" href="/אולטרה-שייפ"><span itemprop="name">אולטרה שייפ</span></a></li>
                            <li><a itemprop="url" href="/coolsculpting"><span itemprop="name">קור להצרת היקפים</span></a></li>
                            <li><a itemprop="url" href="/אולטרה-קביטציה"><span itemprop="name">אולטרה קביטציה</span></a></li>
                            <li><a itemprop="url" href="/הצרת-היקפים-מחיר"><span itemprop="name">הצרת היקפים מחיר</span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </td>
    <td class="main-category hair-treatment dropdown">
        <a itemprop="url" href="/צלוליטיס" class="dropdown-link"><span class="underline" itemprop="name">צלוליטיס</span></a>
        <div class="show-menu">
            <ul class="menu-container hidden-xs hidden-sm">
                <li class="sub-category">
                    <div class="box">
                        <ul class="end-category">
                            <li><a itemprop="url" href="/טיפול-בצלוליט"><span itemprop="name">10 שיטות לטיפול בצלוליט</span></a></li>
                            <li><a itemprop="url" href="/צלוליט"><span itemprop="name">סוגי צלוליט</span></a></li>
                            <li><a itemprop="url" href="/מזותרפיה"><span itemprop="name">מזותרפיה</span></a></li>
                            <li><a itemprop="url" href="/קרבותרפיה"><span itemprop="name">קרבותרפיה (הזרקת co2)</span></a></li>
                            <li><a itemprop="url" href="/endermologie"><span itemprop="name">אנדרמולוגיה</span></a></li>
                            <li><a itemprop="url" href="/velasmooth"><span itemprop="name">טיפול ב - VelaShape</span></a></li>
                            <li><a itemprop="url" href="/מניעת-צלוליטיס"><span itemprop="name">טיפים למניעת צלוליטיס</span></a></li>
                            <li><a itemprop="url" href="/גלים-רוסיים"><span itemprop="name">גלים רוסיים</span></a></li>
                            <li><a itemprop="url" href="/מזותרפיה-וירטואלית"><span itemprop="name">מזותרפיה וירטואלית</span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </td>
    <td class="main-category hair-treatment dropdown">
        <a itemprop="url" href="/מתיחת-בטן" class="dropdown-link"><span class="underline" itemprop="name">עיצוב הבטן</span></a>
        <div class="show-menu">
            <ul class="menu-container hidden-xs hidden-sm">
                <li class="sub-category">
                    <div class="box">
                        <ul class="end-category">
                            <li><a itemprop="url" href="/מיני-מתיחת-בטן"><span itemprop="name">מיני מתיחת בטן</span></a></li>
                            <li><a itemprop="url" href="/צלקות-לאחר-מתיחת-בטן"><span itemprop="name">צלקות מניתוח מתיחה</span></a></li>
                            <li><a itemprop="url" href="/סיבוכים-וסיכונים-במתיחת-בטן"><span itemprop="name">סיכונים מניתוחי בטן</span></a></li>
                            <li><a itemprop="url" href="/ניתוח-טבור"><span itemprop="name">ניתוח טבור</span></a></li>
                            <li><a itemprop="url" href="/סימני-מתיחה"><span itemprop="name">סימני מתיחה</span></a></li>
                            <li><a itemprop="url" href="/פיסול-הגוף"><span itemprop="name">פיסול הבטן והגוף</span></a></li>
                            <li><a itemprop="url" href="/שאיבת-שומן-מהבטן"><span itemprop="name">הסרת שומנים בבטן</span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </td>
    <td class="main-category hair-treatment">
        <a itemprop="url" href="/כל-המאמרים/"><span class="underline" itemprop="name">מאמרים באתר</span></a>
    </td>
</tr>